*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition: 0.6 ease;
}

body{
    height: 100vh;
    background-color: #301019bb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #164147;
    font-family: sans-serif;
}
.difficultyLevel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.btn{
    width: 250px;
    height: 50px;
    background-color: #164147;
    border: 1px solid #B1D9F2;
    color: #DCDDCE;
    border-radius: 10px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, .2);
}

.btn:hover{
    box-shadow: 0 0 15px 0px #B1D9F2;
    border: 3px solid #B1D9F2;
}

.difficultyLevel button:not(:last-child) {
    margin-bottom: 10px;
}

.cardTable{
    max-width: 1024px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    perspective: 1000px;
    position: relative;
    max-width: 1024px;
}
.stepCountTable{
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DCDDCE;
    font-size: 20px;
}
.screen{
    display: none;
}
.screen.up {
    display: flex;
}

.memory-card{
    width: 110px;
    height: 170px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    transform: scale(1);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face{
    transform: rotateY(180deg);
}
.transparent{
    visibility: hidden;
}


.reductionEffect{
    animation: reduction .6s ease-in-out;
}

@keyframes reduction {
    0%{
        transform: scale(.8);
        opacity: 1;
    }
    25%{
        transform: scale(.6);
        opacity: .8;
    }
    50%{
        transform: scale(.4);
        opacity: .6;
    }
    75%{
        transform: scale(.2);
        opacity: .4;
    }
    100%{
        transform: scale(.1);
        opacity: 0;
    }
}

.summaryTable{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #DCDDCE;
    font-size: 20px;
    padding-bottom: 15px;
}

@media (min-width: 1024px){
    .memory-card{
        margin: 5px;
    }
}

@media (max-width: 750px){
    .memory-card{
        margin: 4px;
        width: 60px;
        height: 110px;
    }
}

@media (max-width: 425px){
    .memory-card{
        margin: 2px;
        width: 50px;
        height: 90px;
    }
}
